.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  
    .card-wrapper__card {
      cursor: pointer;
      margin: 20px; 
   
    }
  }
}