.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  background: purple;
  width: 100%;

  .navbar_button {
    cursor: pointer;
    font-size: 32px;
    color: antiquewhite;
  }
}